In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn import metrics
from sklearn import preprocessing
from sklearn import model_selection
from sklearn.metrics import classification_report, confusion_matrix, roc_curve, roc_auc_score,auc, accuracy_score, mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import ensemble
from sklearn.model_selection import train_test_split
from imblearn.under_sampling import RandomUnderSampler 
from IPython.core.display import HTML

In [ ]:
df = pd.read_csv("/healthcare-dataset-stroke-data (1).csv")

In [ ]:
df.shape

(5110, 12)

In [ ]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [ ]:
df['Residence_type'].value_counts()

Urban    2596
Rural    2514
Name: Residence_type, dtype: int64

In [ ]:
df['work_type'].value_counts()

Private          2925
Self-employed     819
children          687
Govt_job          657
Never_worked       22
Name: work_type, dtype: int64

In [ ]:
df['smoking_status'].value_counts()

never smoked       1892
Unknown            1544
formerly smoked     885
smokes              789
Name: smoking_status, dtype: int64

In [ ]:
df['ever_married'].value_counts()

Yes    3353
No     1757
Name: ever_married, dtype: int64

In [ ]:
df["gender"] = df["gender"].map({"Female":0, "Male":1})

In [ ]:
df["Residence_type"] = df["Residence_type"].map({"Urban":0, "Rural":1})
df["smoking_status"] = df["smoking_status"].map({"never smoked":0, "Unknown":1, "formerly smoked":2, "smokes":3})
df["work_type"] = df["work_type"].map({"Private":0, "Self-employed":1, "children":2, "Govt_job":3, "Never_worked":4})
df["ever_married"] = df["ever_married"].map({"No":0, "Yes":1})

In [ ]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,1.0,67.0,0,1,1,0,0,228.69,36.6,2,1
1,51676,0.0,61.0,0,0,1,1,1,202.21,NaN,0,1
2,31112,1.0,80.0,0,1,1,0,1,105.92,32.5,0,1
3,60182,0.0,49.0,0,0,1,0,0,171.23,34.4,3,1
4,1665,0.0,79.0,1,0,1,1,1,174.12,24.0,0,1

In [ ]:
df = df.drop(["id"], axis=1)

In [ ]:
df = df.dropna()

In [ ]:
df.describe()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
count,4908.000000,4908.000000,4908.000000,4908.000000,4908.000000,4908.000000,4908.000000,4908.000000,4908.00000,4908.000000,4908.000000
mean,0.409739,42.868810,0.091891,0.049511,0.652812,0.834352,0.492665,105.297402,28.89456,1.093317,0.042584
std,0.491836,22.556128,0.288901,0.216954,0.476125,1.111689,0.499997,44.425550,7.85432,1.067639,0.201937
min,0.000000,0.080000,0.000000,0.000000,0.000000,0.000000,0.000000,55.120000,10.30000,0.000000,0.000000
25%,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,77.067500,23.50000,0.000000,0.000000
50%,0.000000,44.000000,0.000000,0.000000,1.000000,0.000000,0.000000,91.680000,28.10000,1.000000,0.000000
75%,1.000000,60.000000,0.000000,0.000000,1.000000,2.000000,1.000000,113.495000,33.10000,2.000000,0.000000
max,1.000000,82.000000,1.000000,1.000000,1.000000,4.000000,1.000000,271.740000,97.60000,3.000000,1.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4908 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4908 non-null   float64
 1   age                4908 non-null   float64
 2   hypertension       4908 non-null   int64
 3   heart_disease      4908 non-null   int64
 4   ever_married       4908 non-null   int64
 5   work_type          4908 non-null   int64
 6   Residence_type     4908 non-null   int64
 7   avg_glucose_level  4908 non-null   float64
 8   bmi                4908 non-null   float64
 9   smoking_status     4908 non-null   int64
 10  stroke             4908 non-null   int64
dtypes: float64(4), int64(7)
memory usage: 460.1 KB

In [ ]:
df['stroke'].value_counts()

0    4699
1     209
Name: stroke, dtype: int64

In [ ]:
df.corr()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
gender,1.000000,-0.030280,0.021811,0.082950,-0.036380,0.038807,0.004351,0.053161,-0.026164,0.064168,0.006904
age,-0.030280,1.000000,0.274395,0.257104,0.680742,-0.183693,-0.010795,0.236000,0.333314,0.080461,0.232313
hypertension,0.021811,0.274395,1.000000,0.115978,0.162350,-0.029374,0.001140,0.180614,0.167770,0.010515,0.142503
heart_disease,0.082950,0.257104,0.115978,1.000000,0.111203,-0.026825,0.002409,0.154577,0.041322,0.067151,0.137929
ever_married,-0.036380,0.680742,0.162350,0.111203,1.000000,-0.172204,-0.004707,0.151657,0.341553,0.085798,0.105051
work_type,0.038807,-0.183693,-0.029374,-0.026825,-0.172204,1.000000,-0.017035,-0.027126,-0.188661,-0.030242,-0.032117
Residence_type,0.004351,-0.010795,0.001140,0.002409,-0.004707,-0.017035,1.000000,0.007441,0.000293,-0.032694,-0.005988
avg_glucose_level,0.053161,0.236000,0.180614,0.154577,0.151657,-0.027126,0.007441,1.000000,0.175672,0.018793,0.138984
bmi,-0.026164,0.333314,0.167770,0.041322,0.341553,-0.188661,0.000293,0.175672,1.000000,0.047944,0.042341
smoking_status,0.064168,0.080461,0.010515,0.067151,0.085798,-0.030242,-0.032694,0.018793,0.047944,1.000000,0.029772
stroke,0.006904,0.232313,0.142503,0.137929,0.105051,-0.032117,-0.005988,0.138984,0.042341,0.029772,1.000000

In [ ]:
X = df.drop('stroke', axis=1)
y = df['stroke']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [ ]:
from imblearn.combine import SMOTETomek
smote = SMOTETomek(random_state=42)
X_train_over,y_train_over = smote.fit_resample(X_train,y_train)

In [ ]:
pd.Series(y_train_over).value_counts()

0    3747
1    3747
Name: stroke, dtype: int64

# **Random Forest Classifier**

In [ ]:
from sklearn import ensemble
rf = ensemble.RandomForestClassifier()
rf.fit(X_train, y_train)
y_rf = rf.predict(X_test)

In [ ]:
print(accuracy_score(y_test,y_rf))

0.9470468431771895

In [ ]:
cm_rf = confusion_matrix(y_test, y_rf)
print(cm_rf)

[[929   0]
 [ 52   1]]